.seller_home_banner_inner_div {
  width: 100% !important;
  text-align: center;
}
.seller_home_banner_inner_div h2 {
  font-size: 55px;
  color: var(--whiteColor);
}
.seller_home_banner_inner_div h5 {
  font-size: 30px;
  color: var(--whiteColor);
  font-size: 700;
}
.seller_home_squad_div .title {
  padding-left: 0 !important;
}
h5 {
  font-size: 18px;
  line-height: 35px;
  color: var(--blackColor02);
  font-weight: 700;
}
h6 {
  font-size: 16px;
  line-height: 25px;
  color: #6c6f74;
  font-weight: 700;
  padding-bottom: 10px;
}
p {
  color: #707070;
}
a {
  text-decoration: none !important;
}
.seller_home_prep_box h1 {
  text-align: center;
}
.seller_home_prep_box p {
  font-size: 16px;
  line-height: 25px;
  color: #6c6f74;
  font-weight: 700;
  padding-bottom: 30px;
  text-align: center;
}
.blue_heading {
  color: var(--whiteColor);
  padding-bottom: 15px;
}
.rex-about-row-right {
  margin-top: 80px;
}

.seller_expect {
  padding: 50px 0;
  text-align: center;
}
.seller_expect h6 {
  padding-bottom: 30px;
}
.seller_expect_img {
  position: relative;
  padding-bottom: 40px;
}
.seller_expect_img img {
  width: 100%;
  border-radius: 6px;
}
.seller_name {
  position: absolute;
  width: 85%;
  border-radius: 6px;
  background-color: #00c7e9;
  font-size: 16px;
  line-height: 22px;
  color: var(--whiteColor);
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  bottom: 25px;
  left: 7%;
  padding: 10px;
}
.seller_expect_text {
  text-align: left;
}
.seller_expect_text h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
.seller_expect_text p {
  font-weight: 400;
}
.seller_expect_text .content-div {
  padding-left: 0;
  padding-top: 20px;
}
