.terms{
    padding: 20px 0 50px;
}
.terms h2{
    font-size: 18px;
    line-height: 28px;
    color: var(--blackColor02);
    font-weight: 600;
    padding-top: 20px;
}
.terms p{
    font-size: 16px;
    color: #6c6f74;
}